@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

body {
  background-color: #f0f0f0;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

.wrapper {
  margin-top: auto;
  width: 90%;
  height: 80%;
  background-color: #f7f7ff;
  background-image: url("./images/bg-top.svg"), url("./images/bg-bottom.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: top right, bottom left;

  position: absolute;
  left: 5vw;
  top: 10vh;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  height: max-content;
  width: 35vw;
  border-radius: 5%;
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;


}

/* On mouse-over, remove card shadow */
.card:hover {
  box-shadow: 0 0 0 0;

}

.card a {
  padding: 5% 25%;
  background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  border-radius: 6%;
  text-decoration: none;
}

#our-pricing {
  margin-top: 2%;
  align-self: center;
  color: hsl(232, 13%, 33%);

}

#plan-type {
  margin-top: 1%;
  gap: 20px;
  align-self: center;
  display: flex;
  justify-content: space-around;

}

ul {
  list-style: none;
}

.pricing-table {
  justify-self: center;
  align-self: center;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  gap: 0.5%;

}


.ptable-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;


}

.middle{ 
  background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: #f0f0f0;

  border-radius: 4%;

}


/* For radio toggle */
.toggle {
  --width: 40px;
  --height: calc(var(--width)/2);
  --border-radius: calc(var(--height) /2);

  display: inline-flex;
  cursor: pointer;
}

.toggle__input {
  display: none;
}

.toggle__fill::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: var(--height);
  width: var(--height);
  background: #ffffff;
  box-shadow: 0 0 18px rgb(0, 0, 0, 0.25);
  border-radius: var(--border-radius);
  transition: transform 0.5s;
}

.toggle__fill {
  position: relative;
  width: var(--width);
  height: var(--height);
  border-radius: var(--border-radius);
  background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  transition: background 0.5s;
}

.toggle__input:checked~.toggle__fill::after {
  transform: translateX(var(--height));
}


@media only screen and (max-width: 930px) {
  .pricing-table {
    flex-direction: column;
  }
  .card{
    width: 80vw;

  }
  .wrapper {
    margin-top: auto;
    width: 90%;
    height: 180vh;

    background-image: url("./images/bg-top.svg"), url("./images/bg-bottom.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: top right, bottom left;
  
  }

}